@{
    ViewBag.Title = "Document annotations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Guid

<!DOCTYPE html>

<html>
<head>
    <title>Create annotation</title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li>
                <h2>Create annotation</h2>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="@Url.Action("DocumentAnnotations", "Annotation", new {fileId = @Model})">Back to the annotations</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Annotation")">Back to the main page</a>
            </li>
        </ul>
    </div>
</nav>

@using (Html.BeginForm("AddAnnotation", "Annotation", new {fileId = Model}, FormMethod.Post, new {@class = "form-horizontal"}))
{
    <div class="input-group col-sm-offset-1">
        <div class="col-md-5">
            <div class="form-group">
                <label for="Type">Type:</label>
                <select class="form-control" name="Type" id="Type" style="width: 300px;">
                    <option value="0">Text</option>
                    <option value="1">Area</option>
                    <option value="2">Point</option>
                    <option value="3">Text strikeout</option>
                    <option value="4">Polyline</option>
                    <option value="5">TextField</option>
                    <option value="6">Arrow</option>
                    <option value="7">Text Underline</option>
                    <option value="8">Distance</option>
                </select>
            </div>
            <div class="form-group">
                <label for="Position.X">Position.X:</label>
                <input type="text" name="Position.X" id="Position.X"/>
            </div>
            <div class="form-group">
                <label for="Position.Y">Position.Y:</label>
                <input type="text" name="Position.Y" id="Position.Y"/>
            </div>
            <div class="form-group">
                <label for="Width">Width:</label>
                <input type="text" name="Width" id="Width"/>
            </div>
            <div class="form-group">
                <label for="Height">Height:</label>
                <input type="text" name="Height" id="Height"/>
            </div>
            <div class="form-group">
                <label for="SvgPath">SvgPath:</label>
                <input type="text" name="SvgPath" id="SvgPath"/>
            </div>
            <div class="form-group">
                <label for="TextPosition">TextPosition:</label>
                <input type="text" name="TextPosition" id="TextPosition"/>
            </div>
            <div class="form-group">
                <label for="TextLength">TextLength:</label>
                <input type="text" name="TextLength" id="TextLength"/>
            </div>
            <div class="form-group">
                <label for="FieldText">FieldText:</label>
                <input type="text" name="FieldText" id="FieldText"/>
            </div>
            <div class="form-group">
                <label for="FontFamily">FontFamily:</label>
                <input type="text" name="FontFamily" id="FontFamily"/>
            </div>
            <div class="form-group">
                <label for="FontSize">FontSize:</label>
                <input type="text" name="FontSize" id="FontSize"/>
            </div>
            <div class="form-group">
                <label for="FontColor">FontColor:</label>
                <input type="text" name="FontColor" id="FontColor"/>
            </div>
            <div class="form-group">
                <label for="PageNumber">PageNumber:</label>
                <input type="text" name="PageNumber" id="PageNumber"/>
            </div>
            <div class="form-group">
                <label for="Row">Row:</label>
                <input type="text" name="Row" id="Row"/>
            </div>
            <div class="form-group">
                <label for="Column">Column:</label>
                <input type="text" name="Column" id="Column"/>
            </div>
            <div class="form-group">
                <label for="PenColor">PenColor:</label>
                <input type="text" name="PenColor" id="PenColor"/>
            </div>
            <div class="form-group">
                <label for="PenWidth">PenWidth:</label>
                <input type="text" name="PenWidth" id="PenWidth"/>
            </div>
            <div class="form-group">
                <label for="PenStyle">PenStyle:</label>
                <input type="text" name="PenStyle" id="PenStyle"/>
            </div>
            <div class="form-group">
                <label for="BackgroundColor">BackgroundColor:</label>
                <input type="text" name="BackgroundColor" id="BackgroundColor"/>
            </div>
        </div>
    </div>
    <div class="input-group col-sm-offset-1">
        <span class="input-group-btn">
                <button class="btn btn-primary" type="submit" style="margin-top: 5px; width: 300px;">Save</button>
            </span>
    </div>
}

</body>
</html>