@model List<string>

@{
    ViewBag.Title = "Permissions";
    Layout = "~/Views/Admin/AdminLayout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <title>Permissions</title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li>
                <h2>Permissions</h2>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="@Url.Action("Index", "Annotation")">Back to the main page</a>
            </li>
        </ul>
    </div>
</nav>

@if (!Model.Any())
{
    <div class="row">
        <div class="col-md-3">There no permissions in the storage</div>
    </div>
}
<div class="row col-sm-offset-1">
    @foreach (var permission in Model)
    {
        <div class="form-group">
            <input type="text" name="Permission" id="Permission" value="@permission" readonly/>
            <a href="@Url.Action("DeletePermission", "Admin", new {permission})">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </div>
    }
</div>
@using (Html.BeginForm("CreatePermission", "Admin", FormMethod.Post, new {@class = "form-horizontal"}))
{
    <nav class="navbar navbar-default">
        <h2>Create new permission</h2>
    </nav>
    <div class="row col-sm-offset-1">
        <div class="form-group" style="margin-left: 0">
            <input type="text" name="permission" value=""/>
            <div class="input-group">
                <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit" style="margin-top: 5px; width: 300px;">Save</button>
                    </span>
            </div>
        </div>
    </div>
}
</body>
</html>